[submodule "shivaEngine/vendor/spdlog"]
	path = shivaEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "shivaEngine/vendor/GLFW"]
	path = shivaEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
